<ion-header>
  <ion-toolbar color="rapha">
    <ion-title>Reminders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="content">
    <div class="rp-celander-col">
        <div class="rp-celanderimg"><img src="assets/images/calendar.svg" /></div>
        <div class="rp-timing"><img src="assets/images/timing.jpg" /></div>
    </div>

    <div class="rp-leftmenu-bottom rp-float--left">
        <ul class="rp-leftmenu-bottom-list">
            <li><img src="assets/images/daily_updates.svg" /></li>
            <li><img src="assets/images/packs.svg" /></li>
        </ul>
    </div>
    <div class="rp-card-wrap">
        <ul class="rp-cardlist">
            <li class="rp-card rp-card-pink-light">
                <div class="rp-dotsmenu"><img src="assets/images/dots.svg" /></div>
                <div class="rp-medicinebg rp-card-pink-light-medicinebg-light rp-capsuleimg"><img
                        src="assets/images/longtablet.svg" /></div>
                <div class="rp-capsulename">Ciplox 50mg
                    <div class="rp-capsuledescription">Ciprofloxacin tablet</div>
                    <div class="rp-pillimg"><span class="rp-pillimgspan"><img src="assets/images/capsule_small.svg" /></span>1 pill</div>
                </div>

                <div class="rp-donealarm">
                    <div class="rp-donemark"><span class="rp-tickmarkwhite"><img
                                src="assets/images/tick_white.svg" /></span>Done</div>
                    <div class="rp-alarmicon"><img src="assets/images/snooze.svg" /></div>
                    <div class="rp-donealarmdd"><img src="assets/images/dropdown_arrow.svg" /></div>
                </div>
            </li>
            <li class="rp-card rp-card-pink">
                <div class="rp-dotsmenu"><img src="assets/images/dots.svg" /></div>
                <div class="rp-medicinebg rp-card-pink-medicinebg-light rp-capsuleimg"><img
                        src="assets/images/tablet_circle.svg" /></div>
                <div class="rp-capsulename">Dolo 650mg
                    <div class="rp-capsuledescription">Paracetamol tablet</div>
                    <div class="rp-pillimg"><span class="rp-pillimgspan"><img src="assets/images/capsule_small.svg" /></span>1 pill</div>
                </div>
                <div class="rp-donealarm">
                    <div class="rp-donemark"><span class="rp-tickmarkwhite"><img
                                src="assets/images/tick_white.svg" /></span>Done</div>
                    <div class="rp-alarmicon"><img src="assets/images/snooze.svg" /></div>
                    <div class="rp-donealarmdd"><img src="assets/images/dropdown_arrow.svg" /></div>
                </div>
            </li>
            <li class="rp-card rp-card-blue-light">
                <div class="rp-dotsmenu"><img src="assets/images/dots.svg" /></div>
                <div class="rp-medicinebg rp-card-blue-light-medicinebg-light rp-capsuleimg"><img
                        src="assets/images/tablet_rectangle_small.svg" /></div>
                <div class="rp-capsulename">Pantodac 40mg
                    <div class="rp-capsuledescription">Pantoprazole tablet</div>
                    <div class="rp-pillimg"><span class="rp-pillimgspan"><img src="assets/images/capsule_small.svg" /></span>1 pill</div>
                </div>
                <div class="rp-donealarm">
                    <div class="rp-donemark"><span class="rp-tickmarkwhite"><img
                                src="assets/images/tick_white.svg" /></span>Done</div>
                    <div class="rp-alarmicon"><img src="assets/images/snooze.svg" /></div>
                    <div class="rp-donealarmdd"><img src="assets/images/dropdown_arrow.svg" /></div>
                </div>
            </li>

            <li class="rp-card rp-card-green">
                <div class="rp-dotsmenu"><img src="assets/images/dots.svg" /></div>
                <div class="rp-medicinebg rp-card-green-medicinebg-light rp-capsuleimg"><img
                        src="assets/images/longtablet.svg" /></div>
                <div class="rp-capsulename">Pred Forte 1%
                    <div class="rp-capsuledescription">Prednisolone eye drop</div>
                    <div class="rp-pillimg"><span class="rp-pillimgspan"><img src="assets/images/capsule_small.svg" /></span>1 pill</div>
                </div>
                <div class="rp-donealarm">
                    <div class="rp-donemark"><span class="rp-tickmarkwhite"><img
                                src="assets/images/tick_white.svg" /></span>Done</div>
                    <div class="rp-alarmicon"><img src="assets/images/snooze.svg" /></div>
                    <div class="rp-donealarmdd"><img src="assets/images/dropdown_arrow.svg" /></div>
                </div>
            </li>
        </ul>
    </div>
</div>
</ion-content>
